<div class="col-lg-8">
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="d-flex justify-content-between align-items-center m-b-16">
        <mat-card-title>Banquier List</mat-card-title>
        <button mat-flat-button color="primary" (click)="addBanquier()">
          Add Banquier
        </button>
      </div>

      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="dataSource" class="w-100">

          <!-- Name & Email -->
          <ng-container matColumnDef="assigned">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Name and email
            </th>
            <td mat-cell *matCellDef="let b">
              <div class="d-flex align-items-center">
                <img src="assets/images/profile/user-1.jpg" alt="user" width="40" class="rounded-circle" />
                <div class="m-l-16">
                  <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                    {{ b.firstname }} {{ b.lastname }}
                  </h6>
                  <span class="mat-body-1 f-s-12">
                    {{ b.email }}
                  </span>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Agence -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Agence
            </th>
            <td mat-cell *matCellDef="let b" class="mat-body-1">
              {{ b.agence }}
            </td>
          </ng-container>

          <!-- Phone -->
          <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Phone
            </th>
            <td mat-cell *matCellDef="let b">
              <span class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12">
                {{ b.phone }}
              </span>
            </td>
          </ng-container>

          <!-- ID -->
          <ng-container matColumnDef="budget">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Id
            </th>
            <td mat-cell *matCellDef="let b" class="mat-body-1">
              #{{ b.id }}
            </td>
          </ng-container>
          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
              Actions
            </th>
            <td mat-cell *matCellDef="let b">
              <button mat-icon-button color="primary" (click)="editBanquier(b)" matTooltip="Edit">
                <i-tabler name="pencil" class="icon-18"></i-tabler>
              </button>

              <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteBanquier(b.id)">
                <i-tabler name="trash" class="icon-18"></i-tabler>
              </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>